# ===============================
# Spring Boot / Maven
# ===============================
HELP.md
target/

# ===============================
# IDE
# ===============================
.classpath
.project
.settings
.idea
.vscode

# ===============================
# Ignore everything
# ===============================
*

# Allow important backend files
!.gitignore
!pom.xml
!README.md

# Allow src
!src/
!src/**

# Allow Angular app
!QuantityMeasurementAngular/
!QuantityMeasurementAngular/**

# But ignore node_modules inside Angular
QuantityMeasurementAngular/node_modules/